@import 'bootstrap/dist/css/bootstrap.css'; 

.tb {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: white;
  }


  .tb2 {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-style: italic;
    display: inline-block;
    color: red;
  }

  .myClass{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    background-color: #17a2b8 !important;

    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;

    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;

    color: #f8f9fa !important;

    orphans: 3;
    widows: 3;
  }


  .myClass2{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    background-color: #28a745 !important;

    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;

    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;

    color: #f8f9fa !important;

    orphans: 3;
    widows: 3;
  }